{%- assign product_info_items = product.metafields.custom.product_info.value -%}
{%- if product_info_items != blank -%}
  {%- for info_item in product_info_items -%}
    <div class="{{ block_base_classes }}" {% if forloop.first %}{{ block.shopify_attributes }}{% endif %}>
      <details
        class="appearance-none border-b-general border-scheme-text py-2.5"
        x-data="{ open: false }"
        @toggle="open = $root.open"
      >
        <summary>
          <div class=" flex items-center justify-between">
            <div class=" flex items-center">
              {{- info_item.title.value | escape -}}
            </div>
            <div class="ml-auto flex">
              <span
                class="m-auto inline-block h-5 w-5 transition"
                :class="{ 'rotate-180' : open }"
              >
                {% render 'icon-chevron-down' %}
              </span>
            </div>
          </div>
        </summary>
        <div class="rte my-5">
          {{ info_item.content | metafield_tag }}
        </div>
      </details>
    </div>
  {%- endfor -%}
{%- endif -%}
